#mobile-nav{
background-color:#00007E;
}
.accordion {
  width: 100%;
  margin: 55px auto;
}

.accordion h2, h3, h4 {
  font-family:Calibri;
}
.accordian a{
color:#fff;
}
.accordion h1 {
 /* padding: 8px 20px;*/
 background:url(../img/nav-plus.gif) no-repeat right center;
  text-align:left;
 text-transform:none;
  font-size: 15px;
  font-weight: normal;
  color: #7dc8ad;
  margin-left:10%;
  padding-bottom:0 !important;
  margin-right:10%;
  font-family:Calibri;

}

.accordion h1 > a {
 /* padding: 8px 20px;*/
 background:url(../img/nav-plus.gif) no-repeat right center;
  text-align:left;
 text-transform:none;
  font-size: 15px;
  font-weight: normal;
  color: #7dc8ad;
 
  font-family:Calibri;

}



.accordion h1:first-child {
  border-radius: 10px 10px 0 0;
}
.accordion h1:last-of-type {
  border-radius: 0 0 10px 10px;
}
.accordion h1:not(:last-of-type) {

}
.accordion div, .accordion p {
  display: none;
}
.accordion h2 {
background:url(white.png) no-repeat 2px 15px;
 padding:5% 0 2% 14% ;

  font-size: 14px;
  color: #7dc8ad;
	font-weight:bold;
	margin-bottom:0px;
  margin-top:3px;
}

.accordion h2 > a {
background:url(white.png) no-repeat 2px 15px;


  font-size: 14px;
  color: #7dc8ad;
  font-family:Calibri;
	font-weight:bold;

}
/*.accordion h2:hover {
  background-color: #09ab8b;
}*/
.accordion h3 {
  padding:6px;
background:url(white.png) no-repeat 2px 17px;
 padding-left:16px;
border-bottom:1px solid #fff;
  font-size: 12px;
  color: #ddd; 
 font-family:Calibri;

}

.accordion h4 {
  padding: 5px 35px;
  background-color: #ffc25a;
  font-size: .9rem;
  color: #af720a; 
}
.accordion h4:hover {
  background-color: #e0b040;
}
.accordion p {
  padding: 15px 35px;
  background-color: #ddd;
  font-family:Calibri;
  font-size: .8rem;
  color: #333;
  line-height: 1.3rem;
}
